  /* form  */

body {
    /* background-color: rgb(0, 9, 28); */
    background: url(../images/bid.jpg) no-repeat center center fixed;
    background-size: cover;
  }



  /* Custom CSS for centering navigation bar items */
  .navbar-nav {
    margin-left: auto; /* the navbar go to right items horizontally */
    display: flex;
    flex-direction: row;
  }

  .navbar-nav .nav-link {
    color: #343a40; /* Set text color for links */
    font-weight: bold; /* Make text bold */
    padding: 0 20px 0 10px; /* Add padding to the navbar items */
  }



  .navbar-nav .active {
    font-weight: bold;
  }
