/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Montserrat';
} */
  .navbar-profile {
    margin-left: 0; /* left the second navbar items horizontally */
    display: flex;
    flex-direction: row;

    background-color:  rgb(236, 232, 232);
  }

  .container-sm {
    margin-top: 100px;
     min-height: 50vh;
     /*Center vertically on the page */
    background-color: rgba(253, 253, 253, 0.808); /*Add a semi-transparent white background to make the form more readable */
    padding: 20px;
  }

  .container-lg-list{
     min-height: 50vh; /*Center vertically on the page */
    background-color: rgba(255, 255, 255, 0.925); /*Add a semi-transparent white background to make the form more readable */
    padding: 20px;
  }

  /* Smaller container */
  /* @media (min-width: 768px) {
    .container-sm {
      max-width: 600px;
    }
  } */



  .navbar-profile .nav-link {
    color: #343a40; /* Set text color for links */
    font-weight: bold; /* Make text bold */
    padding: 0 20px 0 10px; /* Add padding to the navbar items */
  }



  .navbar-profile .active {
    font-weight: bold;
  }


