/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: 'Montserrat';
} */
.container-lg {
    margin-top: 100px;
     min-height: 50vh; /*Center vertically on the page */
    background-color: rgba(255, 255, 255, 0.925); /*Add a semi-transparent white background to make the form more readable */
    padding: 20px;
    border-radius: 10px;

  }
  .navbar-profile {
    margin-left: 0; /* left the second navbar items horizontally */
    display: flex;
    flex-direction: row;
    background-color:  rgba(
        255,
        255,
        255,
        0.8
      );
  }


  /* Smaller container */
  /* @media (min-width: 768px) {
    .container-lg {
      max-width: 600px;
    }
  } */
